<configuration>
    <property name="CONSOLE_LOG_PATTERN"
              value="%clr(%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%logger){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <!-- Hibernate Validator -->
    <logger name="org.hibernate.validator" level="INFO"/>

    <!-- Spring -->
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.springframework.boot.context.config.ConfigFileApplicationListener" level="DEBUG"/>
    <logger name="org.springframework.web.context.ContextLoader" level="DEBUG"/>
    <logger name="org.springframework.context.support.PostProcessorRegistrationDelegate" level="WARN"/>

    <!-- Tomcat -->
    <logger name="org.apache.coyote.http11.Http11NioProtocol" level="WARN"/>
    <logger name="org.apache.catalina.core.AprLifecycleListener" level="WARN"/>
    <logger name="org.apache.catalina.core.StandardService" level="WARN"/>

    <!-- Lettuce -->
    <logger name="io.lettuce.core" level="WARN"/>
    <logger name="io.netty" level="WARN"/>

    <!-- HikariCP -->
    <logger name="com.zaxxer.hikari" level="WARN"/>

    <!-- MyBatis -->
    <logger name="org.mybatis.spring.mapper.ClassPathMapperScanner" level="WARN"/>
    <logger name="org.mybatis.spring.SqlSessionUtils" level="INFO"/>
    <logger name="org.mybatis.spring.transaction.SpringManagedTransaction" level="INFO"/>

    <!-- Reactor -->
    <logger name="reactor.core.publisher.UnsafeSupport" level="WARN"/>

    <root>
        <level value="DEBUG"/>
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>